<div class="wrapper wrapper-content animated fadeInRight" ng-controller="plateListCtrl">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    栏目列表
                </div>
                <div class="panel-body">
                    <form role="form" class="form-inline">
                        <div class="form-group">
                            <input placeholder="栏目名称"  class="form-control" type="text" ng-model="condition.name">
                        </div>
                        <div class="form-group">
                            <select class="form-control" name="account" ng-model="condition.isVisible">
                                <option value="">全部</option>
                                <option value="1">显示</option>
                                <option value="0">隐藏</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-w-m btn-primary" ng-click="reset();">重置条件</button>
                            <button class="btn btn-success" ng-click="search();"><i class="fa fa-search"></i>&nbsp;搜索</button>
                            <button class="btn btn-success"
                                    ng-click="action();">
                                <i class="fa fa-plus"></i>&nbsp;添加
                            </button>
                        </div>
                    </form>
                    <div class="table-responsive" style="margin-top: 10px;">
                        <table class="table table-striped table-middle">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>中文名称</th>
                                    <th>英文名称</th>
                                    <th>显示</th>
                                    <th>创建时间</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="plate in plates">
                                    <td>{{plate._id}}</td>
                                    <td>{{plate.zh_name}}</td>
                                    <td>{{plate.en_name}}</td>
                                    <td>
                                        <i class="fa fa-{{plate.isVisible ? 'check text-navy':'times text-danger'}} "></i>
                                    </td>
                                    <td>{{plate.create_time  | date:"yyyy/MM/dd HH:mm"}}</td>
                                    <td>
                                        <a class="btn btn-white btn-bitbucket btn-sm" ng-click="action(plate);">
                                            <i class="fa fa-pencil text-muted"></i>
                                        </a>
                                        <a class="btn btn-white btn-bitbucket btn-sm" data-ng-click="remove(plate._id);"  ng-hide="plate.isDefault">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr ng-show="plates == 0">
                                    <td colspan="6" style="text-align: center">没有符合条件的记录</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <pagination class="pagination-sm"
                                ng-change="select(pagination.page);"
                                ng-model="pagination.page"
                                total-items="pagination.total_items"
                                items-per-page="pagination.items_per_page"
                                max-size="pagination.max_size"
                                data-ng-hide="pagination.total_pages <= 1"></pagination>
                </div>
            </div>
        </div>
    </div>
</div>