nav h2.logo-text{
  margin: 0px;
  color:white;
}

.wrapper-plate-order{
  #saveOrder{
    margin: 0px 0px 10px 15px;
  }
  .plates-panel{
      float: left;
      height: 75px;
      margin-bottom: 20px;

      div{
        border: 1px solid #E7EAEC;
        padding: 10px;
        height: 100%;
        background-color: #FAFAFB;
      }
  }
}

.wrapper-article-create{
  img.imgPreview{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  .row{
    margin-bottom: 15px;
  }
  #btnSubmit{
    float:right;
  }
  .first-row{
    margin: 0 -15px;
    input,select{
      margin-bottom: 15px;
    }
  }
}
#redactor-droparea-placeholder input{
  display:inline-block;
}

.redactor-box{
  margin-bottom: 0;
}