<div class="wrapper wrapper-content animated fadeInRight wrapper-article-create" ng-controller="articleCreateCtrls">
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    添加文章
                </div>
                <div class="panel-body" style="padding-bottom: 0;">
                    <form class="form-horizontal">
                        <alert dismiss-on-timeout="1800" close="alerts.close($index);" ng-repeat="alert in alerts"  type="{{alert.type}}">{{alert.msg}}</alert>
                        <div class="first-row">
                            <div class="col-sm-9"><input placeholder="标题" class="form-control" type="text" data-ng-model="article.title"></div>
                            <div class="col-sm-3">
                                <select class="form-control" data-ng-model="article.plate_id" data-ng-options="p._id as p.zh_name for p in plates" >
                                 </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12" style="padding: 0">
                                <textarea redactor id="{{edit.id}}" name="content"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 no-padding">
                                <a class="btn btn-white btn-bitbucket" ng-click="show_image_manager();">
                                    <i class="fa fa-image"></i> 插入图片
                                </a>
                                <button id="btnSubmit" type="button" class="btn btn-w-m btn-primary" ng-click="submit();" ng-disabled="alerts.length">
                                    确认添加
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    添加封面
                </div>
                <div class="panel-body">
                    <img class="imgPreview" ng-src="{{article.cover_url}}">
                    <button type="button" class="btn btn-block btn-success" ng-click="choose_cover();">
                        <i class="fa fa-inbox"></i>&nbsp;&nbsp;选择封面
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>