<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title">文件上传</h4>
    </div>
    <div class="modal-body">
        <button type="button" ngf-select class="btn btn-block btn-success" ngf-change="fileSelected($files, $event)">
            <span ng-show="isUpload"><i class="fa fa-spin fa-circle-o-notch"></i>&nbsp;上传中</span>
            <span ng-show="!isUpload">选择图片</span>
        </button>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="dismiss();" >关闭</button>
    </div>
</div>

