<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <span minimaliza-sidebar></span>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li style="margin-left: 15px;">
                <span>最后登录时间 : </span>
                <span>{{last_time}}</span>
            </li>
            <li>
                <a href="#/login">
                    <i class="fa fa-sign-out"></i> 退出
                </a>
            </li>
        </ul>
    </nav>
</div>